.search {
    margin: 50px 0;
}

.groups {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.time-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-group > * {
    width: 100%;
}

.search .input-group span {
    color: gray;
}