.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.input-groups {
  display: flex;
  flex-direction: column;
  gap: 15px;
}