nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    margin-top: 5px;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    gap: 18px;
}

nav a {
    border-bottom: solid 4px transparent;
    color: white;
}

nav a.active {
    border-bottom: solid 4px var(--secondaryColor);
}

nav .logo {
    margin-left: 0;
}

nav .auth-link {
    margin-right: 0;
}